
#content_main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:100%;
	width:100%;
    border: 1px dotted blue;
}

#page_main {
	display: flex;
	flex-direction: column;
	flex-grow:1;
	justify-content: center;	
 	align-items: center;
	height: 100%;
	width: 100%;
	border: 1px dotted red;
	text-align: center;
}


#label_email {
	width: 90%;
	margin:1%;
}

#button_register {
	display: inline-block;
	margin:1%;
}

#button_login {
	display: inline-block;
	margin:1%;
}

#link_login {
	display: inline-block;
	margin: 1%;
}